.reveal .moustache {
    color: black;
	font-family: Georgia;
}

.reveal .iD,
.reveal .jQuery {
	text-transform: none !important;
}

.reveal table td.numeric {
	text-align: right;
    font-size: 120%;
    color: #e4592f;
    font-family: 'Norwester';
}

.reveal table th {
	text-align: center;
	font-size: 120%;
}

.reveal table td.check,
.reveal table td.ex {
	text-align: center;
	font-size: 110%;
	font-weight: bold;
	width: 50%;
	color: #5e9d5f;
}

.reveal table td.check {
	color: #5e9d5f;
}

.reveal table td.ex {
	color: #e4592f;
}

.reveal section.mvc .fade-out.visible,
.reveal section.mvc .fade-in:not(.visible) {
    display: none;
}

.reveal aside.nb {
    font-size: 50%;
}